<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eMall.dao.FreightInfoDao">
    <cache></cache>
<!--    id是该sql语句的唯一标识，java中使用该标识； #{}对指定参数类型属性值（类的属性名）的引用。其底层利用反射机制，调用实体类的get方法-->

    <select id="selectFreightInfoByFromAndTo" resultType="FreightInfo">
        select * from freight where freight.from=#{from} and dest=#{dest}
    </select>

    <insert id="insertFreightInfo" parameterType="com.eMall.entity.FreightInfo">
        insert into freightinfo(fe_id,from_area,to_area,first_weight,first_fee,continue_weight,continue_fee)
        value (#{fe_id}, #{from_area}, #{to_area}, #{first_weight}, #{first_fee}, #{continue_weight}, #{continue_fee})
    </insert>

    <delete id="deleteFreightInfoById">
        delete from freightinfo where fe_id = #{xxx}
    </delete>

    <update id="updateFreightInfo">
        update freightinfo
        set from_area=#{from_area}, to_area=#{to_area}, first_weight=#{first_weight}, first_fee=#{first_fee},
        continue_weight=#{continue_weight}, continue_fee=#{continue_fee}
        where fe_id=#{fe_id};
    </update>

    <select id="selectAllFreightInfo" resultType="FreightInfo">
        select * from freightinfo
    </select>

    <select id="selectFreightInfoByFrom" resultType="FreightInfo">
        select * from freightinfo where from_area like concat('%', #{xxx}, '%')
    </select>

    <select id="selectFreightInfoByTo" resultType="FreightInfo">
        select * from freightinfo where to_area like concat('%', #{xxx}, '%')
    </select>




</mapper>